/*custom-logo-start*/
.header-domain {
    float: left;
    margin: 30px 25px;
    color: white;
    font-size: 60px;
}

.x-tree-view.x-fit-item.x-tree-view-default.x-unselectable.x-scroller{
    height: calc(100% - 50px) !important;
}

div[id^="workspace-node-tree-"][id$="-bodyWrap"] > div[id^="workspace-node-tree-"][id$="-body"] {
    background-image:url("../images/header_logo.svg");
    background-repeat:no-repeat;
    background-position:center 99%;
    background-size: auto 30px;
}
/*custom-logo-end*/