// big impact
$omv-color-default: #000000;
$dashboard-toolbar-bg: #000000;

// colors
$omv-color-lighter: #000000;
$omv-color-darker: #000000;
$omv-color-more-darker: #000000;
$invalid-error: #000000;
$spinner-border: #000000;
$spinner-background: #000000;
$trigger-border: #dbdbdb;
$trigger-background: #dbdbdb;
$black: #ffffff;
$x-panel-body-bg: #fff;
$scrollbar-bg: #000;
$body-mask: rgba(17, 45, 101, 0.5);
$node-tree-arrow-bg: #fffff;

//buttons
$btn-background-color: #000000;
$button-color: #ffffff; //affects text and icons on buttons

//icons
$dashboard-icon-bg: #fff;

//font related
$font-weight: 700;
$font-size: 12px;
$font-color: #fff;

#header {
  background: $omv-color-default !important;
}

/******************************************************************************/
/* Miscellaneous */
.x-body,
.x-form-item-label-default,
.x-form-cb-label-default,
.x-grid-item,
.x-menu-item-text-default,
.x-panel-body-default,
.x-panel-header-title-default,
.x-toolbar-text-default,
.x-tree-node-text,
.x-window-body-default {
  font-weight: $font-weight;
  font-size: $font-size;
  color: $font-color;
}

/******************************************************************************/
/* Body */
body > .x-mask {
  background-color: $body-mask;
}

/******************************************************************************/
/* Form fieldset */
.x-fieldset-header-default > .x-fieldset-header-text {
  color: $omv-color-more-darker;
}

/******************************************************************************/
/* Trigger field */
.x-form-password-trigger:before {
  content: "\f06e";
}

.x-form-add-trigger:before {
  content: "\f067";
}

.x-form-folder-trigger:before {
  content: "\f114";
}

.x-form-copy-trigger:before {
  content: "\f0ea";
}

.x-form-trigger-default.x-form-trigger-over {
  border-color: $trigger-border;
  background-image: none;
  background-color: $trigger-background;
}

.x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
  border-color: #fff;
}

.x-form-trigger-wrap-default.x-form-trigger-wrap-invalid {
  border-color: $invalid-error;
}

/******************************************************************************/
/* Spinner field */
.x-form-spinner-default.x-form-spinner-over {
  border-color: $spinner-border;
  background-color: $spinner-background;
}

/******************************************************************************/
/* Panel */
.x-panel-default {
  border-color: $omv-color-default;
}

.x-panel-default-outer-border-l {
  border-left-color: $omv-color-default !important;
}

.x-panel-default-outer-border-b {
  border-bottom-color: $omv-color-default !important;
}

.x-panel-default-outer-border-trbl {
  border-color: $omv-color-default !important;
}

.x-panel-default-outer-border-bl {
  border-bottom-color: $omv-color-default !important;
  border-left-color: $omv-color-default !important;
}

.x-panel-default-outer-border-r {
  border-right-color: $omv-color-default !important;
}

.x-panel-default-outer-border-rl {
  border-right-color: $omv-color-default !important;
  border-left-color: $omv-color-default !important;
}

.x-panel-default-outer-border-rb {
  border-right-color: $omv-color-default !important;
  border-bottom-color: $omv-color-default !important;
}

.x-panel-default-outer-border-trl {
  border-top-color: $omv-color-default !important;
  border-right-color: $omv-color-default !important;
  border-left-color: $omv-color-default !important;
}

.x-panel-default-outer-border-rbl {
  border-right-color: $omv-color-default !important;
  border-bottom-color: $omv-color-default !important;
  border-left-color: $omv-color-default !important;
}

.x-panel-header-default-vertical {
  background-color: $omv-color-default;
}

.x-panel-header-default .x-tool-tool-el {
  background-color: $omv-color-default;
}

.x-panel-header-default {
  border: 1px solid $omv-color-default;
  background-color: $omv-color-default;
}

.x-panel-body-default {
  background: $x-panel-body-bg;
}

/******************************************************************************/
/* Tree */
.x-tree-icon, .x-tree-elbow-img {
}

.x-tree-icon-custom {
  background-size: 16px 16px;
}

.x-tree-elbow-plus,
.x-tree-elbow-end-plus,
.x-tree-icon,
.x-tree-icon-parent,
.x-tree-icon-parent-expanded,
.x-tree-icon-leaf,
.x-grid-tree-node-expanded .x-tree-elbow-plus,
.x-grid-tree-node-expanded .x-tree-elbow-end-plus {
  color: #fff;
}

.x-grid-cell-inner-treecolumn {
  padding-top: 5px;
  padding-bottom: 4px;
}

/******************************************************************************/
/* Grid */
.x-grid-item-over {
}

.x-grid-item-focused .x-grid-cell-inner:before {
  border-color: $omv-color-default;
}

.x-grid-group-hd-collapsed .x-grid-group-title:before,
.x-grid-group-hd-collapsible .x-grid-group-title:before {
  color: $omv-color-default;
}

.x-grid-body{
  border-top-color: $omv-color-default;
}

/******************************************************************************/
/* Workspace node tree */
.x-workspace-node-tree .x-panel-header-default {
  border: 0px;
  background-color: $dashboard-toolbar-bg; /* gray */
}

.x-workspace-node-tree .x-panel-header-default .x-tool-tool-el {
  background-color: $dashboard-toolbar-bg; /* gray */
}

.x-workspace-node-tree .x-tool-collapse-left:before {
  color: $node-tree-arrow-bg;
}

.x-workspace-node-tree .x-grid-row-over .x-grid-td {
  cursor: pointer;
}

.x-workspace-node-tree .x-tree-icon-parent,
.x-workspace-node-tree .x-tree-icon-parent-expanded {
  width: 0px;
  visibility: hidden;
}

.x-workspace-node-tree.x-tree-lines .x-tree-elbow-line {
  visibility: hidden;
}

.x-workspace-node-tree .x-tree-elbow,
.x-workspace-node-tree .x-tree-elbow-end {
  width: 0px;
  visibility: hidden;
}

.x-collapse-el, .x-splitter-vertical {
  background-color: $dashboard-toolbar-bg;
}

.x-layout-split-left:before {
  color: $node-tree-arrow-bg;
}

/******************************************************************************/
/* Workscape dashboard */
.x-workspace-dashboard-widget-icon {
}

/******************************************************************************/
/* Workspace navigation toolbar */
.x-workspace-navigation-toolbar.x-toolbar-default {
  background-color: $dashboard-toolbar-bg; /* gray */
}

.x-toolbar-default {

}

/******************************************************************************/
/* Tabs */
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
  color: $omv-color-default;
}

.x-tab-focus.x-tab-default {
  outline: 1px solid $omv-color-default;
}

.x-tab-invalid {
  background-color: $invalid-error;
}

.x-box-scroller-tab-bar-default {
  background-color: $omv-color-darker;
}

.x-tab-bar-default {
  background-color: $omv-color-default !important;
}

/******************************************************************************/
/* Windows */
.x-window-default {
  border-color: $omv-color-more-darker;
  border-width: 1px;
}

.x-window-body-default {
  border-color: $omv-color-darker !important;
}

.x-window-header-default {
  border-color: $omv-color-darker;
  background-color: $omv-color-darker;
}

.x-window-header-default .x-tool-img {
  background-color: $omv-color-darker;
}

/******************************************************************************/
/* Buttons */
.x-btn-default-small,
.x-btn-default-toolbar-small {
  border-radius: 3px;
}

.x-btn-default-small {
  border-color: $omv-color-default;
  background-color: $omv-color-default;
}

.x-btn-focus.x-btn-default-small {
  border-color: $omv-color-darker;
  background-color: $omv-color-darker;
}

.x-btn-focus.x-btn-default-small,
.x-btn-focus.x-btn-over.x-btn-default-small,
.x-btn-focus.x-btn-pressed.x-btn-default-small {
  box-shadow: none;
}

.x-btn-over.x-btn-default-small {
  border-color: $omv-color-darker;
  background-color: $omv-color-darker;
}

.x-btn.x-btn-pressed.x-btn-default-small {
  border-color: $omv-color-more-darker;
  background-color: $omv-color-more-darker;
}

.x-btn.x-btn-disabled.x-btn-default-small {
  border-color: $omv-color-lighter;
  background-color: $omv-color-lighter;
}

@mixin btn($btncolor){
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-radius: 3px;
  border-color: darken($btncolor,15%);
  background-image: linear-gradient($btncolor, darken($btncolor,5%));
  color: $button-color;
  box-shadow: inset 0 0 0 1px #fff;
  &:hover {
    background: linear-gradient(#292929, darken($btncolor,10%));
  }
}

.x-btn { @include btn($btn-background-color);}

.x-btn-pressed, .x-btn-focus{
  background: $btn-background-color!important;
}

.x-btn-inner-default-small{
  color: $button-color;
}

span.x-btn-icon-el.x-btn-icon-el-default-toolbar-small:before,
.x-btn-arrow-right:after,
.x-btn-split-right:after,
.x-btn-inner-default-toolbar-small {
  color: $button-color !important;
}


/******************************************************************************/
/* Checkbox */
.x-form-checkbox-focus.x-form-checkbox-default {
  color: $omv-color-default;
}

.x-form-checkbox-default:before,
.x-form-cb-checked .x-form-checkbox-default:before {
  content: none;
}

/******************************************************************************/
/* Combobox */
.x-boundlist-item-over {
  background: $omv-color-lighter;
  border-color: $omv-color-lighter;
}

.x-boundlist-selected {
  background: $omv-color-default;
  border-color: $omv-color-default;
}

/******************************************************************************/
/* Menu */
.x-menu-item-default.x-menu-item-focus,
.x-menu-item-default.x-menu-item-active {
  background-color: $omv-color-lighter;
}

.x-menu-item-default-menubar.x-menu-item-focus,
.x-menu-item-default-menubar.x-menu-item-active {
  background-color: $omv-color-lighter;
}

/******************************************************************************/
/* Other */

div.x-title-icon.x-title-icon-default:before,
.x-tool-expand-bottom:before,
.x-tool-collapse-top:before,
.x-tool-close:before,
.x-title-text.x-title-text-default.x-title-item {
  color: $dashboard-icon-bg;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 5px;
  background: $scrollbar-bg;
  border-radius: 0
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}


.x-autocontainer-innerCt{
  background: #000;
}

.x-toolbar-default{
  background-color: #000;
}


.x-panel-body-default{
  background-color: #000;
}

.x-grid-item{
  background-color: #000;
  color: #fff;
}

.x-tree-node-text{
  color: #fff;
}


.x-tree-icon-custom, .x-tree-icon{
  color: #fff;
}
.x-panel-default{
  border: 1px solid #fff;
}

.thumb > div,
.thumb-wrap > span {
  color: #fff;
}

.x-workspace-node-view-category-items .x-item-over,
.x-workspace-node-view-category-header .thumb-wrap,
.x-grid-item-over,
.x-grid-item-alt.x-grid-item-over {
  background-color: #434348 !important;
}

.x-workspace-node-view-category-header .thumb-wrap {
  border-top: 1px solid #fff;
  color: white;
}

.x-fieldset{
  background: #000;
}

.x-fieldset-header-default > .x-fieldset-header-text{
  color: #fff;
}
.x-form-fieldinfo {
  color: #adadad;
}

.x-tab-focus.x-tab-default{
  outline: unset;
}
.x-tab-inner-default {
  font-weight: bold;
}

.x-grid-tree-node-expanded{
  color: #fff;
}

.x-menu-body-default {
  background: #000;
}

.x-fa {
  color: #fff;
}

.x-form-display-field-default{
  color: #fff;
}
.x-toolbar-footer{
  background-color: #000;
}

.x-tip-body-form-invalid{
  color: unset;
}
.x-tree-elbow-plus{
  color: #ffffff;
}

.x-grid-item-alt {
  background-color: #111113;
}

.x-grid-item-focused{
  color: #DFDFDF;
}

.x-grid-group-hd{
  background: #000;
  border: 1px solid #fff
}

.x-grid-group-title{
  color: #fff;
  font-weight: bold
}

.x-column-header{
  background: #383838;
  color: #fff;
}

.x-column-header-over{
  background: #3c3c3c;
}

.x-grid-header-ct {
  background-color: #171717;
}


.x-message-box .x-window-body {
  background-color: #000;
  box-shadow: inset 0 0 0 1px #fff;
}

.login-page {
  background: #232323;
}

.x-btn-disabled{
  background: #6d6d6d !important;
}

img.thumb-icon, img.x-tree-icon {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

.x-form-text-default {
  color: #ffffff;
  background-color: #000;
}


.x-grid-cell-booleaniconcolumn-switch-true, .x-grid-cell-booleaniconcolumn-switch-false, .x-form-checkbox-default {
  -webkit-filter: invert(1) hue-rotate(195deg);
  filter: invert(1) hue-rotate(195deg);
}

.x-btn-icon-el-default-small {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}