// Dracula theme colors  https://github.com/dracula/dracula-theme/

$background: rgb(40,42,54);
$current-line: rgb(68,71,90);
$selection: rgb(68,71,90);
$foreground: rgb(248,248,242);
$comment: rgb(98,114,164);
$cyan: rgb(139,233,253);
$green: rgb(80,250,123);
$orange: rgb(255,184,108);
$pink: rgb(255,121,198);
$purple: rgb(189,147,249);
$red: rgb(255,85,85);
$yellow: rgb(241,250,140);

// fonts by default

.x-body,
.x-form-item-label-default,
.x-form-cb-label-default,
.x-form-text-default,
.x-grid-item,
.x-menu-item-text-default,
.x-panel-body-default,
.x-panel-header-title-default,
.x-toolbar-text-default,
.x-tree-node-text,
.x-window-body-default,
.x-btn-inner-default-toolbar-small {
  font-size: 14px;
  font-weight: bold;
}

//background for header and main parts
#header,
.x-panel-bodyWrap,
.x-autocontainer-innerCt {
  background-color: $background !important;
}


//////////////////////////////////////////////////////

// start splitter element

.x-splitter-vertical {
  background: linear-gradient(to bottom, $comment 44px, $selection 44px);
}

.x-splitter-focus:after{
  border: unset;
}

.x-splitter-collapsed {
  background: $selection !important;
}

.x-collapse-el.x-layout-split-left{
  background: $comment;
  color: $foreground;
}

// end splitter element

//////////////////////////////////////////////////////


// start bg color navigation bar, bg color, icon bg color and icon color

.x-workspace-navigation-toolbar.x-toolbar-default{
  width: 100%;
  background-color: $comment;
}

.x-workspace-node-tree .x-panel-header-default{
  background-color: $comment;
}

.x-workspace-node-tree .x-panel-header-default .x-tool-tool-el {
  display: none;
}
.x-tool-collapse-left:before {
  color: $foreground !important;
}
// end bg color navigation bar

//////////////////////////////////////////////////////

// start custom scroll bars

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 5px;
  background: $background;
  border-radius: 0
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $foreground;
}

.x-tree-view.x-fit-item.x-tree-view-default.x-unselectable.x-scroller::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
  width: 5px;
  background: $background;
  border-radius: 0;
}

.x-tree-view.x-fit-item.x-tree-view-default.x-unselectable.x-scroller::-webkit-scrollbar-thumb {
  background-color: $selection;
  border-radius: 0;
}

// end custom scroll bars

//////////////////////////////////////////////////////


// start left panel, menu
div[id^="workspace-node-tree-"][id$="-placeholder"],
.x-tool-tool-el.x-tool-img.x-tool-expand-right {
  background-color: $selection;
  border-color: $selection;
}


div[id^="workspace-node-tree-"][id$="-bodyWrap"] > div[id^="workspace-node-tree-"][id$="-body"] {
  background-color: $selection;
}

.x-tree-view.x-fit-item.x-tree-view-default.x-unselectable.x-scroller,
.x-panel-default-outer-border-rbl{
  background-color: $selection;
  border: unset;
}

.x-tree-view.x-fit-item.x-tree-view-default.x-unselectable.x-scroller{
  border-top: 1px solid $comment;
}

.x-grid-cell-inner-treecolumn{
  background-color: $selection;
  color: $foreground;
  height: 40px;
}

.x-tree-icon,
.x-tree-elbow-plus,
.x-tree-elbow-end-plus{
  color: $foreground !important;
}

.x-grid-cell-inner.x-grid-cell-inner-treecolumn > img {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

.x-grid-item-focused .x-grid-cell-inner:before{
  border-color: $background;
  background-color: $background;
  color: $cyan;
}

.x-grid-item-focused{
  color: $foreground;
}

.x-grid-cell-inner.x-grid-cell-inner-treecolumn:hover{
  background-color: $background;
  color: $cyan;
}

.x-grid-cell-inner.x-grid-cell-inner-treecolumn:hover > .x-tree-icon,
.x-grid-cell-inner.x-grid-cell-inner-treecolumn:hover > .x-tree-elbow-plus,
.x-grid-cell-inner.x-grid-cell-inner-treecolumn:hover > .x-tree-elbow-end-plus {
  color: $cyan !important;
}

.x-grid-cell-inner-treecolumn > * {
  vertical-align: -webkit-baseline-middle;
}

// end left panel, menu


//////////////////////////////////////////////////////

// start 32x32 icons
.x-workspace-node-view-category-items .thumb-wrap > *,
.x-workspace-node-view-category-items .thumb-wrap > * > * {
  color: $foreground;
}

.x-workspace-node-view-category-items .thumb-wrap > * > img {
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

.thumb-wrap.x-item-over {
  background-color: $comment;
}

// tiles
.thumb-wrap {
  height:150px !important;
  width: calc(100% / 5 - 6px) !important;
  background-color: $selection;
  margin: 5px 0 0 5px;
}

.thumb {
  margin-top: 30px;
}

@media only screen and (max-width: 400px) {
  .thumb-wrap {
    width: calc(100% / 2 - 6px) !important;
  }
}

.x-workspace-node-view-category-header{
  margin: 5px 0 0 5px;
  background-color: $selection;
}

.x-workspace-node-view-category-header .thumb-wrap{
  margin: 0 auto;
  height: 30px !important;
  width: 100% !important;
  background-color: unset;
}

// end 32x32 icons

//////////////////////////////////////////////////////


// start page tabs

.x-tab-bar-default {
  background-color: $background;
}

.x-tab-focus.x-tab-default {
  outline: unset;
}

.x-tab.x-tab-active.x-tab-default{
  background-color: $foreground;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
  color: $background;
}

.x-toolbar-default {
  background-color: $foreground;
}

//end page tabs


//////////////////////////////////////////////////////

// start field sets

.x-component.x-fieldset-header-text.x-component-default{
  color: $foreground;
}

.x-fieldset.x-fieldset-with-title{
  background-color: $background;
}

.x-form-item-label-text, .x-form-cb-label{
  color: $foreground;
}

.x-form-fieldinfo{
  color: rgba($foreground, 0.6);
}

.x-form-display-field.x-form-display-field-default{
  color: $foreground;
}

// end field sets


//////////////////////////////////////////////////////

// start tables

.x-grid-group-hd{
  background-color: $comment;
}

.x-grid-group-hd > *  {
  color: $foreground;
}

.x-grid-header-ct .x-box-inner .x-box-target > * {
  background-color: $background;
  color: $foreground;
  font-weight: bold;
}

.x-grid-header-ct .x-box-inner .x-box-target .x-column-header-over {
  background-color: $selection
}


.x-grid-header-ct .x-box-inner {
  background-color: $background;
}

.x-grid-header-ct .x-box-inner .x-box-target .x-column-header-trigger{
  background: $orange;
  border: unset;
}

.x-grid-header-ct .x-box-inner .x-box-target .x-column-header-trigger:before{
  color: $foreground;
}

.x-grid-header-ct .x-box-inner .x-box-target .x-column-header-open{
  background-color: $selection;
}

.x-grid-group-hd-collapsed .x-grid-group-title:before, .x-grid-group-hd-collapsible .x-grid-group-title:before {
  color: $foreground;
}

.x-column-header.x-column-header-focus .x-column-header-inner:after{
  border: unset;
}

.x-grid-with-col-lines .x-grid-cell,
.x-panel-body-default{
  background-color: rgba($comment,0.5);
}

// end tables


//////////////////////////////////////////////////////


// start bullets and bars

.x-color-green, .x-color-boolean-true, .x-color-good{
  color: $green;
}

.x-color-red, .x-color-error {
  color: $red
}

// end bullets and bars

//////////////////////////////////////////////////////

// start buttons

.x-btn-default-small {
  border-color: $background;
  background-color: $background;
  border-radius: 0;
}

.x-btn-default-small .x-btn-inner-default-small {
  font-weight: bold;
  color: $foreground;
}

.x-btn-default-small.x-btn-over{
  background-color: $comment;
  border-color: $comment;
}

.x-btn-focus.x-btn-default-small{
  border-color: $comment;
  background-color: $comment;
}

//end buttons

//////////////////////////////////////////////////////

// start popup box

.x-window-header-default{
  background-color: $comment;
  border: 1px solid $comment;
}

.x-window-header-default .x-tool-img{
  background-color: $comment;

  .x-boundlist-selected{
    background: $comment;
    border-color: $comment;
  }

  .x-boundlist-item.x-boundlist-item-over{
    background-color: $purple;
  }
}

// end popup box


//////////////////////////////////////////////////////


// start dashboard boxes

.x-panel-header-default {
  background-color: $comment;
}
.x-panel-default-outer-border-trbl{
  border: 2px solid $comment !important;
}

.x-panel-header-default .x-tool-tool-el{
  background-color: $comment;
}

.x-autocontainer-innerCt{
  color: $foreground;
}

.x-container.x-container-default.x-box-layout-ct > * > * .x-btn-icon-el{
  -webkit-filter: invert(1) hue-rotate(180deg);
  filter: invert(1) hue-rotate(180deg);
}

.x-title-text.x-title-text-default.x-title-item{
  font-weight: bold;
}


// end dashboard boxes

//////////////////////////////////////////////////////

// start error message

#ext-form-error-tip-body .x-autocontainer-innerCt {
  background-color: unset !important;
}

// end error message

//////////////////////////////////////////////////////

// start pop menu

.x-menu-item-link{
  background-color: $selection;
}

.x-menu-item-link > * {
  color: $foreground;
  font-weight: bold !important;
}

.x-menu-item-link:hover{
  background-color: $background;
}

.x-menu-item-link:hover > * {
  color: $cyan;
  font-weight: bold !important;
}


.x-toolbar-footer{
  background-color: $selection;
}

.x-window-default{
  border-color: $comment;
}


// end pop menu

// start login shutdown pages backgrounds

.login-page,
.shutdown-page,
.error-page {
  background-color: $background;
}

// end login shutdown pages backgrounds

